<ul>
  <li class="hover-show" title="{{reallyName}}">
    <i class="fa fa-user-o"></i>{{name}}
  </li>
  <li>
    <i class="fa fa-id-card-o"></i>{{nation}}
  </li>
  <li>
    <i class="fa fa-map-marker"></i>{{location}}
  </li>
  <li>
    <i class="fa fa-birthday-cake"></i>{{birth}}
  </li>
  <li>
    <i class="fa fa-flag-o"></i>{{flag}}
  </li>
  <li>
    <i class="fa fa-graduation-cap"></i>{{education}}
  </li>
</ul>
