<div class="item-title">
  <i class="fa fa-paper-plane-o item-icon"></i>
  <span>联系方式</span>
</div>
<ul>
  <li class="hover-show" title="{{reallyTel}}">
    <i class="fa fa-phone"></i>{{tel}}
  </li>
  <li>
    <a href="mailto:{{email}}" target="_blank" title="email">
      <i class="fa fa-envelope-o"></i>{{email}}
    </a>
  </li>
  <li>
    <a href="http://wpa.qq.com/msgrd?v=3&uin={{qq}}&site=qq&menu=yes" target="_blank" title="qq">
      <i class="fa fa-qq"></i>{{qq}}
    </a>
  </li>
  <li>
    <a href="{{website}}" target="_black" title="my website">
      <i class="fa fa-internet-explorer"></i>{{website}}
    </a>
  </li>
</ul>
